<%- include('./partials/head.ejs') %>

<div class="content-wrapper">

  <div class="home-team">

    <div class="team-data">
      <img class="flag" src="./media/dutch-flag.svg" alt="player info">
      <h1 class="team-name">Spacers</h1>
      <a class="team-info" href=""><img src="./media/info-b.svg" alt="player info"></a>
    </div>


    

  
      <div class="ply-data">
        
        <ul class="ply-nr">
          <% players.forEach(player => { %>
          <li class="gender-badge jersey-numbers"><%= player.jerseyNumber %></li>
          <% }) %>
        </ul>  
        

        
        <ul class="ply-name">
          <% players.forEach(player => { %>
          <li class="player-name"><%= player.name %></li>
          <% }) %>
        </ul>

        
        <ul class="ply-stats">
          <% players.forEach(player => { %>
          <li><span class="block-badge">1</span><span class="goals-badge">2</span><span class="turnovers-badge">3</span><span class="assists-badge">4</span></li>
          <% }) %>
        </ul>     
        
      </div>
    
  </div>

 <div class="score-box">

  <div class="live-total"><h1>12 - 3</h1></div>
  <div class="point-cat">
    <ul class="cat">
      <li><a href="">Points played</a></li>
      <li><a href="">Blocks</a></li>
      <li><a href="">Goals</a></li>
      <li><a href="">Turnovers</a></li>
      <li><a href="">Assists</a></li>
    </ul>

    <ul class="refrence">
        <li></li>
    </ul>

    <ul class="point">
      <li>3</li>
      <li>12</li>
      <li>6</li>
      <li>2</li>
      <li>13</li>
    </ul>
  </div>

 </div>

 <div class="game-leaders">

    <div class="live-total"><h1>Game leaders</h1></div>
    <div class="point-cat">
        <ul class="cat">
          <li><a href="">Most Blocks</a></li>
          <li><a href="">Most Goals</a></li>
          <li><a href="">Most Turnovers</a></li>
          <li><a href="">Most Assists</a></li>
          <li><a href="">Most Breaks</a></li>
        </ul>

        <ul class="refrence">
            <li>Kye Mooney</li>
            <li>Lorcan Salazar</li>
            <li>Kye Mooney</li>
            <li>Ezekiel Graham</li>
            <li>Spacers</li>
        </ul>
    
        <ul class="point">
          <li>3</li>
          <li>12</li>
          <li>6</li>
          <li>2</li>
          <li>13</li>
        </ul>
      </div>
  
   </div>

 <div class="out-team">

  <div class="team-data-o">
    <img class="flag-o" src="./media/brazil-flag.svg" alt="player info">
    <h1 class="team-name-o">Ignacio</h1>
    <a class="team-info-o" href=""><img src="./media/info-b.svg" alt="player info"></a>
  </div>

  <div class="ply-data">
    <ul class="ply-nr">
          <li class="gender-badge">1</li>
          <li class="gender-badge">1</li>
          <li class="gender-badge">1</li>
          <li class="gender-badge">1</li>
          <li class="gender-badge">1</li>
          <li class="gender-badge">1</li>
          <li class="gender-badge">1</li>
          <li class="gender-badge">1</li>
          <li class="gender-badge">1</li>
          <li class="gender-badge">1</li>
          <li class="gender-badge">1</li>
          <li class="gender-badge">1</li>
          <li class="gender-badge">1</li>
          <li class="gender-badge">1</li>
          <li class="gender-badge">1</li>
          <li class="gender-badge">1</li>
          <li class="gender-badge">1</li>
          <li class="gender-badge">1</li>
          <li class="gender-badge">1</li>
          <li class="gender-badge">1</li>
          <li class="gender-badge">1</li>
          <li class="gender-badge">1</li>
          <li class="gender-badge">1</li>
          <li class="gender-badge">1</li>
          <li class="gender-badge">1</li>
    </ul>  

    <ul class="ply-name">
        <li><span class="first-name">Lorcan</span> Salazar</li>
        <li><span class="first-name">Kye</span> Mooney</li>
        <li><span class="first-name">Farhan</span> O’Neill</li>
        <li><span class="first-name">Salman</span> Poole</li>
        <li><span class="first-name">Krystal</span> Faulkner</li>
        <li><span class="first-name">Lulu</span> Strickland</li>
        <li><span class="first-name">Lorcan</span> Salazar</li>
        <li><span class="first-name">Kye</span> Mooney</li>
        <li><span class="first-name">Farhan</span> O’Neill</li>
        <li><span class="first-name">Salman</span> Poole</li>
        <li><span class="first-name">Krystal</span> Faulkner</li>
        <li><span class="first-name">Lulu</span> Strickland</li>
        <li><span class="first-name">Lorcan</span> Salazar</li>
        <li><span class="first-name">Kye</span> Mooney</li>
        <li><span class="first-name">Farhan</span> O’Neill</li>
        <li><span class="first-name">Salman</span> Poole</li>
        <li><span class="first-name">Krystal</span> Faulkner</li>
        <li><span class="first-name">Lulu</span> Strickland</li>
        <li><span class="first-name">Lorcan</span> Salazar</li>
        <li><span class="first-name">Kye</span> Mooney</li>
        <li><span class="first-name">Farhan</span> O’Neill</li>
        <li><span class="first-name">Salman</span> Poole</li>
        <li><span class="first-name">Krystal</span> Faulkner</li>
        <li><span class="first-name">Farhan</span> O’Neill</li>
        <li><span class="first-name">Krystal</span> Faulkner</li>
    </ul>
        
  </div>

</div>


<%- include('./partials/foot.ejs') %>